@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "merriweather", serif;

}
/* banner-section-style start here */
.banner-container{
    width: 1320px;
    margin: 0 auto;
    border: 2px solid red;
    min-height: 600px;
    margin-top: 20px;
    background-image: url("/images/Banner\ Image.png");
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
}
.text-color{
    color: white;
}
.banner-content{
    /* width: 600px; */
    height: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}